nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
}

.card{
    background-color: #aeb000;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    border:15px solid purple;
    border-width: 10px;

}

.card img{
max-width: 200px;
}



header{
    background-color:rgba(12, 139, 133, 0.774);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer{
    background-color: darkmagenta;
}

.contenedor_limite2 {
    margin: 0 auto;

}

.contenedor_limite { 
    background-color: blue;
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor_padre {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
 
.parent {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 0 auto;
}
 
.div1 { grid-area: 1 / 1 / 2 / 3; }
.div1 img{
    width: 100%;
}
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div2 img{
    width: 100%;
}
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div3 img{
    width: 100%; 
}


/*.......media queri.......*/

@media screen and (max-width:600px) {

    
}

/*........pseudoclases.......*/

nav a:hover{
    color: aliceblue;
}

.card img:hover{
    transform: scale(1.5);
}

.div1 img:hover{
    transform: scale(0.5) translate(0px, -300px);;
}

.div2 img:hover{
    transform: translate(20px, 80px);
}

.div3 img:hover{
    transform: rotate(45deg);
}
